.newsBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
}

.outerCard {
  background-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 10px;
  max-width: 310px;
  min-width: 250px;
  min-height: 350px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
}

.img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  opacity: 0.75;
  min-height: 800;
  min-width: 510;
}

.date {
  background-color: #fff;
  color: #333;
  font-size: 18px;
  font-weight: 800;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

.dateSpan {
  display: block;
}

.figCaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.h3 {
  font-weight: 800;
  letter-spacing: -0.4px;
}

.p {
  margin: 0;
  padding: 0;
}
